.homepage-container {
  display: flex;
  align-items: stretch; /* Make side panel and main content stretch to fit the height */
  overflow: hidden;
}

.main-content {
  padding: 20px;
  flex: 1;
  background-color: #f8f9fa; /* Set background color */
  border-left: 1px solid #dddddd;
  margin-left: 220px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  min-height: 657px;
}


